/* 顶部导航栏=================================================================== */
.top-box {
    background-color: rgba(0, 0, 0, 0.5);
    height: 70px;
    width: 100%;
    min-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 100px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    height: 30px;
    transition: 0.5s;
}

.logo:hover img {
    transform: scale(1.5);
    box-shadow: rgba(255, 255, 255, 0.7) 0px 0px 50px 0px;
    cursor: pointer;
}

.nav {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}

.nav a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.nav>.item {
    width: 20%;
    height: 100%;
    position: relative;
    transition: all 0.3s ease-in-out;
}

.list {
    position: absolute;
    top: 100%;
    width: 100%;
    overflow: hidden;
    max-height: 0;
    transition: all 0.5s ease-in-out;
    border-radius: 0 0 10px 10px;
    background-color: rgba(0, 0, 0, 0.5);
}

.item2 {
    height: 70px;
    transition: all 0.1s ease-in-out;
}

.nav>.item:hover {
    background-color: #124B91;
}

.nav>.item:hover>.list {
    border-radius: 0 0 10px 10px;
    max-height: 100vh;
    box-shadow: rgb(65, 133, 252) 0px 10px 0px 0px;
}
.nav>.item>a { 
    transition: all 0.1s ease-in-out;
}
.nav>.item:hover>a {
    transform: scale(1.5);
    color: yellow;
}

a {
    text-decoration: none;
}

.item2:hover {
    background-color: #124B91;
}

/* 中部轮播图========================================================================================================= */