@font-face {
  font-family: "iconfont"; /* Project id 4938239 */
  src: url('iconfont.woff2?t=1749372190702') format('woff2'),
       url('iconfont.woff?t=1749372190702') format('woff'),
       url('iconfont.ttf?t=1749372190702') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-GitHub:before {
  content: "\ea09";
}

.icon-bilibili:before {
  content: "\e600";
}

.icon-wodeVIP:before {
  content: "\e632";
}

.icon-sousuox:before {
  content: "\e625";
}

.icon-jiantoushang:before {
  content: "\e70e";
}

.icon-jiantouxia:before {
  content: "\e70f";
}

.icon-jiantouzuo:before {
  content: "\e710";
}

.icon-jiantouyou:before {
  content: "\e715";
}

.icon-15film:before {
  content: "\e62a";
}

